{% extends 'base.html.twig' %}

{% block title %}Team list{% endblock %}

{% block body %}
<div class="d-flex justify-content-between">
    <h1>
        {% if my %}My {% else %}All {% endif %}teams
    </h1>
    <span>
        <a class="btn btn-success float-right" style="margin:10px 0 10px 10px;" href="{{ path('team_create') }}">Create team</a>
    </span>
</div>

<table class="table" id="team-table" style="empty-cells: hide">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Leader</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for team in teams %}
    <tr valign="middle">
        <td>
            {{ team.id }}
        </td>
        <td>
            {{ team.name }}
        </td>
        <td>
            {{ team.leader }}
        </td>
        <td>
            {% if is_granted('edit', team) %}
                <a href="{{ path('team_edit', {id: team.id}) }}">Edit</a> |
            {% endif %}
            {% if is_granted('delete', team) %}
                <a href="{{ path('team_delete', {id: team.id}) }}">Delete</a> |
            {% endif %}
            {% if is_granted('details', team) %}
                <a href="{{ path('team_details', {id: team.id}) }}">Details</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function () {
        $('#team-table').DataTable( {
        });
    });
</script>
{% endblock %}