{% extends 'base.html.twig' %}

{% block title %}{% if not edit %}Create new event {% else %} Edit event {% endif %}{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <h3 class="h3 mb-3 font-weight-normal">{% if not edit %}Create new event {% else %} Edit event {% endif %}</h3>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.startTime) }}
            {{ form_row(form.endTime) }}
            <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.js-datepicker').flatpickr({
                enableTime: true,
                dateFormat: "Y-m-d H:i",
            });
        });
    </script>
{% endblock %}
