{% extends 'base.html.twig' %}

{% block title %}{% if not edit %}Create new game {% else %} Edit game {% endif %}{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <h3 class="h3 mb-3 font-weight-normal">{% if not edit %}Create new game {% else %} Edit game {% endif %}</h3>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.releaseDate) }}
            {{ form_row(form.cpuFreq) }}
            {{ form_row(form.cpuCores) }}
            {{ form_row(form.gpuVram) }}
            {{ form_row(form.ram) }}
            {{ form_row(form.storageSpace) }}
            {{ form_row(form.genres) }}
            {{ form_row(form.image) }}
            <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
            bsCustomFileInput.init()
        });
    </script>
{% endblock %}
